.container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.content-container {
  display: flex;
  flex-direction: row;
  width: calc(100% - 35px);
  height: calc(100% - 35px);
  max-width: 1700px;
  margin: 0 auto;
  background-color: black;
}

.chats-container {
  height: 100%;
  background-color: #111B21;
  width: 100%;
  max-width: 30%;
}

.chats-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 59px;
  padding: 0px 20px 0px 25px;
  font-weight: bold;
  font-size: 22px;
  color: #E9EDEF;
}

.chat-actions {
  display: flex;
  align-items: center;
}

.chats-header span {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 8px;
}

.selector-container{
  display: flex;
  align-items: center;
  padding: 2px 16px 7px 16px;
  gap: 4px;
}